  .gridContainer {
     padding-top: 100px  ;
    width: 900px;
    margin: 0 auto;
}
.gridContainer .row .box{
    height: 100px;
    width: 100px;
}

.wrapper{
  margin-left: 500px;
  padding-top: 50px;
}

#resetPageBtn{
    padding-top: 20px;
}